/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  :root{
      --text-primary-color:#F3F3F3;
      --text-secondary-color:#B0B0B0;
      --text-tertiary-color:#9F9F9F;
  
      --main-color:#00A3FF;
  
      --background-color-one:#06070D;
      --background-color-two:#191b27;
  
      --button-color:linear-gradient(93deg, #00A3FF -50.5%, #0035BC 133.79%);
      --font-family-one:'Caudex', serif;
      --font-family-one:'Lato', sans-serif;
  }

  body.light-mode {
    background-color: white;
}

body.light-mode .navbar {
    background-color: white ;
    /* Additional dark mode styles */
}

/* body.light-mode .navbar .nav-link.selected.active {
    color: #000 !important; 
}


body.light-mode .navbar-nav .nav-item .nav-link.selected::after{
 background-color: #000 !important; 
} */ */